/* :root {

} */

h1 {
  text-align: center;
  font-size: 3rem;
}

.input-container {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.input-wrapper {
  width: 100%;
}

#add-new-todo {
  margin-block-start: 3rem;
}

.description-error-msg {
  display: none;
}

#search-for-todo {
  margin-block-start: 1rem;
}

.todos {
  margin-block-start: 5rem;
}

.todos-table {
  width: 100%;
}

th,
tr {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-info {
  width: fit-content;
  margin: auto;
  padding-block: 3rem;
  text-align: center;

  h2 {
    margin-block-end: 2rem;
  }
}
